<%- include('../../layout/PT-BR/head') %>

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/inicio.css">

    <title>Portfólio |
        <%= title %>
    </title>

    </head>

    <body>
        <header>
            <section>
                <div>
                    <a href="/inicio">
                        <div class="idioma-br">
                            <img src="/img/svg/brazil.svg" alt="Bandeira do Brasil">
                            <small class="selected">BRA</small>
                        </div>
                    </a>
                    <span class="barra"></span>
                    <a href="/home">
                        <div class="idioma-eng">
                            <img src="/img/svg/united_states.svg" alt="Bandeira dos Estados Unidos">
                            <small>ENG</small>
                        </div>
                    </a>
                </div>
                <nav>
                    <li><a class="nav-item selected" href="/inicio">Início</a></li>
                    <li><a class="nav-item" href="/sobre">Sobre</a></li>
                    <li><a class="nav-item" href="/contato">Contato</a></li>
                </nav>
            </section>
        </header>

        <main>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5554991967411"><img src="/img/svg/whatsapp.svg" class="whatsapp-btn" alt="Logo whatsapp"></a>
            <a class="btn-up" href="#"><i class="fas fa-arrow-up"></i></a>
            <section>
                <img src="/img/png/foto_inicio.png" alt="Imagem perfil Principal">
                <div>
                    <p>Olá, tudo bem? Meu nome é <span class="string">Demian Panassol</span>.</p>

                    <p>Trabalho como um desenvolvedor <span class="string">Full-Stack JavaScript</span> a quase 1 ano. Sinta-se à vontade para olhar meu trabalho :).
                    </p>

                    <a href="https://drive.google.com/file/d/1ebt6XMoBXxETBj3JqqoT4Zxf-gLjYBp3/view?usp=sharing" target="_blank"><button class="btn btn-download">Download CV <i class="fas fa-file-download"></i></button></a>
                </div>
            </section>

            <i class="fas fa-arrow-circle-down fa-2x flecha-down"></i>
            <div class="projetos">
                <div>
                    <h2>Projetos Pessoais</h2>
                    <span class="linha"></span>
                </div>

                <section>
                    <img src="/img/png/imagem_projeto_1.png" class="img-desktop" alt="Imagem do Projeto 1">
                    <div>
                        <h4>Criação de e-commerce integrada com API do Mercado Pago</h4>

                        <img src="/img/png/imagem_projeto_1.png" alt="Imagem do Projeto 1">

                        <p>Foi criada uma aplicação em NodeJS para receber pagamentos de clientes sem a necessidade de redirecionamento para sites externos, diminuindo a chance de abandono de carrinho.</p>

                        <p>Trata-se de uma aplicação dinâmica e segura, já que os dados são processados, encriptografados e enviados aos servidores do Mercado Pago pelo back-end da aplicação, o qual nenhum indivíduo malicioso tem acesso.
                        </p>

                        <p>Se desejar, <a href="https://www.neckmassagerpro.com.br/" target="_blank">clique aqui</a> para ver a aplicação.</p>
                    </div>
                </section>

                <span class="linha"></span>

                <section>
                    <img src="/img/png/imagem_projeto_2.png" class="img-desktop" alt="Imagem do Projeto 2">
                    <div>
                        <h4>Aplicação Integrada com um Banco de Dados + Sistema de Autorização e Autenticação</h4>

                        <img src="/img/png/imagem_projeto_2.png" alt="Imagem do Projeto 2">

                        <p>Esse projeto teve como objetivo principal apenas testar minhas habilidades em programação back-end e integração com banco de dados. Informações acerca dos produtos são apenas fictícias.</p>

                        <p>A aplicação é um projeto de um e-commerce online que disponibiliza a opção de cadastro de seus usuários para facilitar o processo de pagamento.
                        </p>

                        <p>Dados sensíveis são criptografados antes do envio ao banco de dados para um alto nível de segurança.
                        </p>

                        <p>Se desejar, <a href="https://calm-eyrie-87510.herokuapp.com/" target="_blank">clique aqui</a> para ver a aplicação.</p>
                    </div>
                </section>
            </div>

            <div class="formacao">
                <div>
                    <h2>Cursos e Formação Acadêmica</h2>
                    <span class="linha"></span>
                    <p>Procuro sempre estar em constante evolução, sempre aprendendo novas tecnologias para aplicá-las em meus projetos. </p>
                </div>

                <section>
                    <h5>08-2021</h5>
                    <h5>Alura - Formação Front-End, UX & Design e Programação</h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>UX/UI</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Indesign</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Ilustrator</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Bootstrap</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Figma</small>
                            </div>
                            <div class="badges-unidade">
                                <small>HTML5</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS3</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Flexbox</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS Grid</small>
                            </div>
                            <div class="badges-unidade">
                                <small>GitHub</small>
                            </div>
                        </div>

                        <p>Link para certificado <a href="https://cursos.alura.com.br/user/panassol1/fullCertificate/ca695a888ae85dc1fbb50d4728bf3fea" target="_blank">aqui</a></p>
                    </div>
                </section>

                <section>
                    <h5>09-2021</h5>
                    <h5>Udemy - Curso <b>‘Modern JavaScript From The Beginning’</b></h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>JavaScript</small>
                            </div>
                            <div class="badges-unidade">
                                <small>ES2015+</small>
                            </div>
                        </div>

                        <p>Link para certificado <a href="https://drive.google.com/file/d/1k3MN3oP58D4ErjDzvKNYn6GmCH6rZOsO/view?usp=sharing" target="_blank">aqui</a></p>
                    </div>
                </section>

                <section>
                    <h5>10-2021</h5>
                    <h5>Udemy - Curso <b>‘The Modern Javascript Bootcamp (2021)’</b></h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>JavaScript</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Restful API's</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Express</small>
                            </div>
                            <div class="badges-unidade">
                                <small>NodeJS</small>
                            </div>
                            <div class="badges-unidade">
                                <small>GitHub</small>
                            </div>
                        </div>

                        <p>Link para certificado <a href="https://drive.google.com/file/d/1LeKcQ9IxAvFh3av1Eb7ulKXkz7a2XOvL/view?usp=sharing" target="_blank">aqui</a></p>
                    </div>
                </section>

                <section>
                    <h5>10-2021</h5>
                    <h5>Udemy - Curso <b>‘Modern HTML & CSS From the beginning (Including Sass)’</b></h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>HTML5</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS3</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Flexbox</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS Grid</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Media Queries</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Sass</small>
                            </div>
                        </div>

                        <p>Link para certificado <a href="https://drive.google.com/file/d/1euL4M5wcWIESCzNjCVm55Z2f10fteBRl/view?usp=sharing" target="_blank">aqui</a></p>
                    </div>
                </section>

                <section>
                    <h5>11-2021</h5>
                    <h5>Udemy - Curso <b>‘Web Developer Bootcamp’</b></h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>HTML5</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS3</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Flexbox</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS Grid</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Media Queries</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Express</small>
                            </div>
                            <div class="badges-unidade">
                                <small>NPM</small>
                            </div>
                            <div class="badges-unidade">
                                <small>ES6</small>
                            </div>
                            <div class="badges-unidade">
                                <small>MongoDB</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Security Issues</small>
                            </div>
                            <div class="badges-unidade">
                                <small>GitHub</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Bootstrap</small>
                            </div>
                            <div class="badges-unidade">
                                <small>REST</small>
                            </div>
                            <div class="badges-unidade">
                                <small>NodeJS</small>
                            </div>
                        </div>

                        <p>Link para certificado <a href="https://drive.google.com/file/d/1aaF5NiTcO9uBQLRvj5PlOZV3-VrfYO7-/view?usp=sharing" target="_blank">aqui</a></p>
                    </div>
                </section>
            </div>

            <div class="info">
                <div>
                    <i class="fas fa-3x fa-code"></i>
                    <h2>+20</h2>
                    <p>Mais de 20 cursos envolvendo JavaScript exclusivamente</p>
                </div>

                <div>
                    <i class="fas fa-3x fa-book-open"></i>
                    <h2>+350h</h2>
                    <p>Mais de 350 horas de cursos envolvendo Programação</p>
                </div>
            </div>
        </main>

        <script src="/js/app.js"></script>
        <%- include('../../layout/PT-BR/footer') %>

    </body>

    </html>