<footer class="footer">
    <section>
        <div>
            <a href="https://www.linkedin.com/in/demian-panassol-malaguti-b15729202/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/demian.panassol.18/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/demianpanassol/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/DemianPanassol01" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <p>CopyRight &copy; 2021. All Rights Reserved</p>
    </section>
</footer>