<%- include('../layout/PT-BR/head') %>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/error.css">

    <title>Error |
        <%= statusCode %>
    </title>

    </head>

    <body>
        <div class="container">

            <img src="/img/png/not-found.png" alt="Imagem Lupa">

            <h3><b><%= statusCode %></b></h3>
            <h5>
                <%= message %>
            </h5>
            <a href="/">Voltar | Go back</a>
        </div>
    </body>

    </html>