<%- include('../../layout/ENG/head') %>

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/contato.css">

    <title>Portfolio |
        <%= title %>
    </title>

    </head>

    <body>
        <header>
            <section>
                <div>
                    <a href="/contato">
                        <div class="idioma-br">
                            <img src="/img/svg/brazil.svg" alt="Brazil Flag">
                            <small>BRA</small>
                        </div>
                    </a>
                    <span class="barra"></span>
                    <a href="/contact">
                        <div class="idioma-eng">
                            <img src="/img/svg/united_states.svg" alt="America flag">
                            <small class="selected">ENG</small>
                        </div>
                    </a>
                </div>
                <nav>
                    <li><a class="nav-item" href="/home">Home</a></li>
                    <li><a class="nav-item" href="/about">About</a></li>
                    <li><a class="nav-item selected" href="/contact">Contact</a></li>
                </nav>
            </section>
        </header>

        <main>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5554991967411"><img src="/img/svg/whatsapp.svg" class="whatsapp-btn" alt="Logo whatsapp"></a>
            <a class="btn-up" href="#"><i class="fas fa-arrow-up"></i></a>
            <%- include('../../layout/flash') %>
                <div>
                    <h2>Contact Me</h2>
                    <span class="linha"></span>
                    <p>Here is how you can reach me</p>
                </div>

                <form method="post">
                    <input type="text" name="name" placeholder="Nome" id="name" autocomplete="name">
                    <input type="email" name="email" placeholder="Email" id="email" autocomplete="email">
                    <input type="tel" name="phone" placeholder="Telefone" id="phone" autocomplete="tel">
                    <textarea name="message" id="message" placeholder="Mensagem"></textarea>
                    <small id="alert-info">Contact info cannot be left blank.</small>
                    <small id="alert-msg">Enter your message.</small>
                    <button class="btn btn-send" type="submit">Send Message</button>
                </form>

                <section>
                    <div>
                        <i class="fas fa-3x fa-phone"></i>
                        <h4>Phone</h4>
                        <a href="tel:+5554991967411">
                            <h5>+55 54 991967411</h5>
                        </a>
                    </div>
                    <div>
                        <i class="fas fa-3x fa-envelope"></i>
                        <h4>Email</h4>
                        <a href="mailto:demianpanassol01@gmail.com">
                            <h5>demianpanassol01@gmail.com</h5>
                        </a>
                    </div>
                </section>

        </main>
        <script src="/js/app.js"></script>
        <%- include('../../layout/ENG/footer') %>

    </body>

    </html>