<%- include('../../layout/ENG/head') %>

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/inicio.css">

    <title>Portfolio |
        <%= title %>
    </title>

    </head>

    <body>
        <header>
            <section>
                <div>
                    <a href="/inicio">
                        <div class="idioma-br">
                            <img src="/img/svg/brazil.svg" alt="Brazil Flag">
                            <small>BRA</small>
                        </div>
                    </a>
                    <span class="barra"></span>
                    <a href="/home">
                        <div class="idioma-eng">
                            <img src="/img/svg/united_states.svg" alt="America flag">
                            <small class="selected">ENG</small>
                        </div>
                    </a>
                </div>
                <nav>
                    <li><a class="nav-item selected" href="/home">Home</a></li>
                    <li><a class="nav-item" href="/about">About</a></li>
                    <li><a class="nav-item" href="/contact">Contact</a></li>
                </nav>
            </section>
        </header>

        <main>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5554991967411"><img src="/img/svg/whatsapp.svg" class="whatsapp-btn" alt="Logo whatsapp"></a>
            <a class="btn-up" href="#"><i class="fas fa-arrow-up"></i></a>
            <section>
                <img src="/img/png/foto_inicio.png" alt="Imagem perfil Principal">
                <div>
                    <p>Hello! How are you? My name is <span class="string">Demian Panassol</span>.</p>

                    <p>I've been working as a <span class="string">Full-Stack JavaScript developer</span> for almost a year. Feel free to take a look at my work :).
                    </p>

                    <a href="https://drive.google.com/file/d/1uGq_pBDAK3589zgYUYAslBuBCp2vD5Ff/view?usp=sharing" target="_blank"><button class="btn btn-download">Download CV <i class="fas fa-file-download"></i></button></a>
                </div>
            </section>

            <i class="fas fa-arrow-circle-down fa-2x flecha-down"></i>

            <div class="projetos">
                <div>
                    <h2>Personal Projects</h2>
                    <span class="linha"></span>
                </div>

                <section>
                    <img src="/img/png/imagem_projeto_1.png" class="img-desktop" alt="Imagem do Projeto 1">
                    <div>
                        <h4>Creation of e-commerce integrated with external payments API</h4>

                        <img src="/img/png/imagem_projeto_1.png" alt="Imagem do Projeto 1">

                        <p>An application in Node JS was created to receive payments from customers without the need for redirection to external websites, reducing the chance of cart abandonment.</p>

                        <p>It is a dynamic and secure application, since the data is processed, encrypted and sent to the servers of a website that specializes in receiving payments through the application's back-end, which no malicious individual has access
                            to.
                        </p>

                        <p>If you like, <a href="https://www.neckmassagerpro.com.br/" target="_blank">click here</a> to see the application.</p>
                    </div>
                </section>

                <span class="linha"></span>

                <section>
                    <img src="/img/png/imagem_projeto_2.png" class="img-desktop" alt="Imagem do Projeto 2">
                    <div>
                        <h4>Integrated application with a database + Authorization and Authentication System</h4>

                        <img src="/img/png/imagem_projeto_2.png" alt="Imagem do Projeto 2">

                        <p>This project had as main objective to test my skills in back-end programming and database integration. Product information is fictitious only.</p>

                        <p>The application is an online e-commerce project that offers the option to register its users to facilitate the payment process.</p>

                        <p>Sensitive data is encrypted before being sent to the database for a high level of security.</p>

                        <p>If you like, <a href="https://calm-eyrie-87510.herokuapp.com/" target="_blank">click here</a> to see the application.</p>
                    </div>
                </section>
            </div>

            <div class="formacao">
                <div>
                    <h2>Courses and Education</h2>
                    <span class="linha"></span>
                    <p>I'm always looking to be in constant evolution, always learning new technologies to apply them in my projects.
                    </p>
                </div>

                <section>
                    <h5>08-2021</h5>
                    <h5>Alura - <b>'Front-End, UX & Design e Programing'</b> Course</h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>UX/UI</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Indesign</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Ilustrator</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Bootstrap</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Figma</small>
                            </div>
                            <div class="badges-unidade">
                                <small>HTML5</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS3</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Flexbox</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS Grid</small>
                            </div>
                            <div class="badges-unidade">
                                <small>GitHub</small>
                            </div>
                        </div>

                        <p>Certificate link <a href="https://cursos.alura.com.br/user/panassol1/fullCertificate/ca695a888ae85dc1fbb50d4728bf3fea" target="_blank">here</a></p>
                    </div>
                </section>

                <section>
                    <h5>09-2021</h5>
                    <h5>Udemy - <b>‘Modern JavaScript From The Beginning’</b> Course</h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>JavaScript</small>
                            </div>
                            <div class="badges-unidade">
                                <small>ES2015+</small>
                            </div>
                        </div>

                        <p>Certificate link <a href="https://drive.google.com/file/d/1o4HqQrjyDuM392yygQYVWsL1TNlo54j6/view?usp=sharing" target="_blank">here</a></p>
                    </div>
                </section>

                <section>
                    <h5>10-2021</h5>
                    <h5>Udemy - <b>‘The Modern Javascript Bootcamp (2021)’</b> Course</h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>JavaScript</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Restful API's</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Express</small>
                            </div>
                            <div class="badges-unidade">
                                <small>NodeJS</small>
                            </div>
                            <div class="badges-unidade">
                                <small>GitHub</small>
                            </div>
                        </div>

                        <p>Certificate link <a href="https://drive.google.com/file/d/1Dwh1Zhc3LCwix47I2hyiSZbpdLJWcIpk/view?usp=sharing" target="_blank">here</a></p>
                    </div>
                </section>

                <section>
                    <h5>10-2021</h5>
                    <h5>Udemy - <b>‘Modern HTML & CSS From the beginning (Including Sass)’</b> Course</h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>HTML5</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS3</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Flexbox</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS Grid</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Media Queries</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Sass</small>
                            </div>
                        </div>

                        <p>Certificate link <a href="https://drive.google.com/file/d/1SZ7EFaZQaq9eRLfgPl-B_M5tUHB5dIEj/view?usp=sharing" target="_blank">here</a></p>
                    </div>
                </section>

                <section>
                    <h5>11-2021</h5>
                    <h5>Udemy - <b>‘Web Developer Bootcamp’</b> Course</h5>
                    <div>
                        <div class="badges">
                            <div class="badges-unidade">
                                <small>HTML5</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS3</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Flexbox</small>
                            </div>
                            <div class="badges-unidade">
                                <small>CSS Grid</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Media Queries</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Express</small>
                            </div>
                            <div class="badges-unidade">
                                <small>NPM</small>
                            </div>
                            <div class="badges-unidade">
                                <small>ES6</small>
                            </div>
                            <div class="badges-unidade">
                                <small>MongoDB</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Security Issues</small>
                            </div>
                            <div class="badges-unidade">
                                <small>GitHub</small>
                            </div>
                            <div class="badges-unidade">
                                <small>Bootstrap</small>
                            </div>
                            <div class="badges-unidade">
                                <small>REST</small>
                            </div>
                            <div class="badges-unidade">
                                <small>NodeJS</small>
                            </div>
                        </div>

                        <p>Certificate link <a href="https://drive.google.com/file/d/1f0VbPoIg2rPHTMli3pG7DggKiGtI2cQ4/view?usp=sharing" target="_blank">here</a></p>
                    </div>
                </section>
            </div>

            <div class="info">
                <div>
                    <i class="fas fa-3x fa-code"></i>
                    <h2>+20</h2>
                    <p>More than 20 courses involving JavaScript exclusively</p>
                </div>

                <div>
                    <i class="fas fa-3x fa-book-open"></i>
                    <h2>+350h</h2>
                    <p>More than 350 hours of courses involving programming</p>
                </div>
            </div>
        </main>
        <script src="/js/app.js"></script>
        <%- include('../../layout/ENG/footer') %>

    </body>

    </html>